option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 3000

  aws:autoscaling:updatepolicy:rollingupdate:
    MaxBatchSize: 1
    MinInstancesInService: 1
    RollingUpdateEnabled: true
    RollingUpdateType: Health
    Timeout: PT30M

  aws:elasticbeanstalk:command:
    DeploymentPolicy: Rolling
    BatchSizeType: Percentage
    BatchSize: 25

  aws:ec2:instances:
    InstanceTypes: t2.small

  aws:autoscaling:asg:
    MinSize: 2
    MaxSize: 6
