option_settings:
  aws:elbv2:listener:default:
    Protocol: HTTP

  aws:elasticbeanstalk:env:process:default:
    DeregistrationDelay: 20
    HealthCheckInterval: 15
    HealthCheckPath: /
    HealthCheckTimeout: 5
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
    Port: 80
    Protocol: HTTP
    StickinessEnabled: true
    StickinessLBCookieDuration: 86400
    StickinessType: lb_cookie

healthCheckUrl: "/"
