container_commands:
  01_create_uploads_dir:
    command: mkdir -p /var/app/current/backend/uploads && mkdir -p /var/app/current/frontend/uploads && chmod 755 /var/app/current/backend/uploads && chmod 755 /var/app/current/frontend/uploads

option_settings:
  aws:elasticbeanstalk:application:environment:
    UPLOAD_DIR: /var/app/current/uploads
